.horizontal-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  //justify-content: space-evenly;
  flex-wrap: wrap;
  //align-items: stretch;

  &.full-height {
    > div {
      min-height: 100vh;
    }
    min-height: 100vh;
  }

  &.nav {
    align-items: center;
  }

  &.align-center {
    align-items: center;
  }
}

.horizontal-block .horizontal-block-card {
  //padding: 0.5rem 0.5rem 0.5rem 0;
  //margin: 0 0 2rem;
  position: relative;
  flex: 1;

  &.hide-mobile {
    display: none;
  }
}

.horizontal-block-card.col-span-2 { flex-basis: 50%; }
.horizontal-block-card.col-span-3 { flex-basis: 100%; }
.horizontal-block-card.col-span-4 { flex-basis: 50%; }
.horizontal-block-card.col-span-5 { flex-basis: 100%; }

.horizontal-block-card.col-grid-2 { flex-basis: 50%; }
.horizontal-block-card.col-grid-3 { flex-basis: 100%; }
.horizontal-block-card.col-grid-4 { flex-basis: 100%; }
.horizontal-block-card.col-grid-5 { flex-basis: 100%; }
.horizontal-block-card.col-grid-6 { flex-basis: 50%; }
.horizontal-block-card.col-grid-7 { flex-basis: 100%; }
.horizontal-block-card.col-grid-8 { flex-basis: 50%; }

@media screen and (min-width: 700px) {
  .horizontal-block {
    flex-direction: row;

    &.reverse { flex-direction: row-reverse; }

    .horizontal-block-card {
      &.hide-mobile {
        display: block;
      }
    }

    &.spaced .horizontal-block-card { padding-left: 8px; padding-right: 8px; }
    &.spaced .horizontal-block-card:nth-child(1) { padding-left: 0; }
    &.spaced .horizontal-block-card:last-child { padding-right: 0; }
  }

  .horizontal-block-card.col-span-3 { flex-basis: 37.5%; }
  .horizontal-block-card.col-span-5 { flex-basis: 62.5%; }

  .horizontal-block-card.col-grid-3 { flex-basis: 33.33333%; }
  .horizontal-block-card.col-grid-4 { flex-basis: 50%; max-width: 50%; min-width: 50%; }
  .horizontal-block-card.col-grid-5 { flex-basis: 20%; }
  .horizontal-block-card.col-grid-6 { flex-basis: 33.33333%; }
  .horizontal-block-card.col-grid-7 { flex-basis: 20%; }
  .horizontal-block-card.col-grid-8 { flex-basis: 25%; }
}

@media screen and (min-width: 700px) and (max-width: 999px)  {
  .horizontal-block {
    &.spaced .horizontal-block-card.col-grid-4:nth-child(2n) { padding-right: 0; }
    &.spaced .horizontal-block-card.col-grid-4:nth-child(2n+1) { padding-left: 0; }
  }
}

@media screen and (min-width: 1000px) {
  .horizontal-block-card.col-span-4 { flex-basis: 25%; }
  .horizontal-block-card.col-span-5 { flex-basis: 62.5%; }
  .horizontal-block-card.col-span-6 { flex-basis: 75%; }
  .horizontal-block-card.col-span-7 { flex-basis: 87.5%; }
  .horizontal-block-card.col-span-8 { flex-basis: 100%; }

  .horizontal-block-card.col-grid-4 { flex-basis: 25%; max-width: 25%; min-width: 25%; }
  .horizontal-block-card.col-grid-6 { flex-basis: 16.66666%; }
  .horizontal-block-card.col-grid-7 { flex-basis: 14.285%; }
  .horizontal-block-card.col-grid-8 { flex-basis: 12.5%; }
}