// Break points
$small-device: 650px;
$medium-device: 790px;
$large-device: 1200px;
$max-browser-width: 1700px;
$max-content-width: 1300px;

// Colours
$primary-colour: #94d62b;
$primary-dark-colour: #434f39;
$secondary-colour: #54a27e;
$secondary-dark-colour: #3b7b5c;
$text-colour: #222222;
$feature-bg-colour: #8c8f8d;